:root {
  --appTextColor: rgb(79, 64, 5);
  --appBackgroundColor: rgb(79, 64, 5);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: rgb(250, 248, 240) !important;
  color: var(--appTextColor) !important;
}

.smallWidth {
  width: 500px !important;
}

Button {
  background-color: var(--appBackgroundColor) !important;
  border: 2px solid var(--appBackgroundColor) !important;
}

.Tabs > a {
  color: var(--appTextColor);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
